html {
	background-color: #F0F2F5;
}
html, body {
	padding: 0px;
	margin: 0px;
}

div, a, ul, p, h1, h2, h3, h4, h5, h6, span, li, ol, dl {
	padding: 0px;
	margin: 0px;
}

ul{
	list-style: none;
}

a {
	text-decoration: none;
}

h3 {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

::-webkit-search-cancel-button {
	display: none;
}
