/* Button Component */
$button-default-color: #626262;
$button-default-background-color: #F6F6F6;
$button-primary-color: #FFFFFF;
$button-primary-background-color: #F23030;
$button-secondary-color: #626262;
$button-secondary-background-color: #F0F2F5;
$button-secondary-border-color: #A2A6AD;
$button-positive-color: #F33C3C;
$button-positive-background-color: #FFFFFF;
$button-negative-color: #4B4B4E;
$button-negative-background-color: #FFFFFF;

$button-font-size: 16px;
