$fontFamily: 'PingFangSC';
$fontColor: #8F8E94;
$fontActive: #FC2E39;
$fontSize: 12px;

//  display
$inlineLayout: 'inline-block';
$block: 'block';

// background
$mainbgColor: #FFFFFF;
$assetBgColor: #F0F2F5;