// 背景图片地址和大小
@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

//  圆角边框
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//定位全屏
@mixin allcover{
	position:absolute;
	top:0;
	right:0;
}

//定位水平垂直居中
@mixin center {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位垂直居中
@mixin ct {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位水平居中
@mixin cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}

//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between){
	display: flex;
	justify-content: $type;
}

// 图片水平居中
@mixin ilc{
	margin-left: auto; 
    margin-right:auto; 
    display:block;
}

// 绝对定位在底部
@mixin pb {
	position: absolute;
	bottom: 0px;
}

@mixin pd($topdis, $bottomdis, $leftdis, $rightdis) {
	position: absolute;
	top: $topdis;
	bottom: $bottomdis;
	left: $leftdis;
	right: $rightdis;
}

@mixin input {	
	border: 0px;
	color: #4E545D;          
	font-size: 14px;
	height: -webkit-fill-available;
	border-bottom: 1px solid #E8EAED;
	margin-left: 10px;
	&:focus {
	outline-style: none;
	}
}